.classpath
.project
Makefile
Makefile.in
aclocal.m4
autom4te.cache
bin
build
config.log
config.status
configure
dist
tifstojava
toolbus-java-adapter-*.pkg
toolbus-java-adapter-*.tar.gz
toolbus-java-adapter-config
INSTALL
install-sh
missing
doc-header.html
Doxyfile.meta
Makefile.java.meta
Makefile.meta
Makefile.top.meta
meta-build.ant
meta-build.m4
toolbus-java-adapter.jar
toolbus-java-adapter.pc
toolbus-java-adapter-uninstalled.pc
build.properties
META-INF
.settings

