Makefile
diff.out
configure
aclocal.m4
config.h.in
Makefile.in
config.log
config.cache
config.status
*.tar.gz
*.pkg
autom4te.cache
meta-doc-config

doc

doc/*

*.m4
*.ant
Doxyfile.meta
missing
install-sh

INSTALL
Makefile.meta
Makefile.top.meta
Makefile.java.meta
meta-doc.pc

meta-doc-uninstalled.log

meta-doc-uninstalled.pc

.project

common-customizations.xsl

