*-*.pkg
*.tar.gz
Makefile
Makefile.in
aclocal.m4
autom4*
config.cache
config.h.in
config.log
config.status
configure
*.classpath
*.project
config.guess
config.sub
depcomp
INSTALL
install-sh
libtool
ltmain.sh
missing
META-INF
doc-header.html
Doxyfile.meta
Makefile.java.meta
Makefile.meta
Makefile.top.meta
meta-build.ant
meta-build.m4
sdf-support.pc
sdf-support-uninstalled.pc
.settings

