<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="toolbus.Main"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="toolbusNG"/>
    <booleanAttribute key="org.eclipse.debug.ui.runFavorite" value="true"/>
    <stringAttribute key="org.eclipse.debug.ui.target_run_perspective" value="perspective_default"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-P properties.server.system_test -F test. -S -l nl -c NL -p properties.client.system_test -d lobby=test -s -d name=test2 -d password=test2ww -s"/>
    <stringAttribute key="org.eclipse.debug.core.source_locator_id" value="org.eclipse.jdt.debug.ui.javaSourceLocator"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.util.logging.config.file=properties/server/logging.properties"/>
    <booleanAttribute key="org.eclipse.debug.ui.debugFavorite" value="true"/>
    <stringAttribute key="org.eclipse.debug.ui.target_debug_perspective" value="perspective_default"/>
</launchConfiguration>
