autom4te.cache
build
dist
aclocal.m4
config.guess
config.status
config.sub
configure
doc-header.html
Doxyfile.meta
libtool
ltmain.sh
Makefile
Makefile.in
Makefile.java.meta
Makefile.meta
Makefile.top.meta
meta-build.ant
meta-build.m4
vis-plugin.jar
vis-plugin.pc
vis-plugin-uninstalled.pc
INSTALL
install-sh
missing

