aclocal.m4
configure
doc-header.html
Doxyfile.meta
INSTALL
install-sh
Makefile.in
Makefile.java.meta
Makefile.meta
Makefile.top.meta
meta-build.ant
meta-build.m4
missing
autom4te.cache
build
dist
config.status
console-grabber.idef
console-grabber.jar
console-grabber.pc
console-grabber-uninstalled.pc
Makefile
.libs
bin

