libtool
*-*.pkg
*.tar.gz
Makefile
Makefile.in
aclocal.m4
autom4*
config.cache
config.h.in
config.log
config.status
configure
term-store-uninstalled.pc
depcomp
config.guess
config.sub
ltmain.sh
Makefile.meta
Makefile.top.meta
Makefile.java.meta
IGNORE
doc-header.html
term-store.pc
meta-build.m4
meta-build.ant
Doxyfile.meta
missing
install-sh
META-INF
.project
.settings

