depcomp
compile
config.guess
config.sub
ltmain.sh
Makefile.meta
Makefile.top.meta
INSTALL
sglr.pc
Makefile.java.meta
sglr-uninstalled.pc
doc-header.html
meta-build.m4
meta-build.ant
Doxyfile.meta
missing
install-sh
configure 
Makefile.in
config.log
Makefile
config.status
autom4te.cache
libtool
aclocal.m4
configure
META-INF
.project
.settings
Makefile.fragment.meta

