*.tar.gz
.classpath
.project
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te*
bin
config.*
configure
install-sh
meta-studio-*.pkg
missing
mkinstalldirs
COPYING
build
dist
doc-header.html
Doxyfile.meta
gui.idef
Makefile.java.meta
Makefile.meta
Makefile.top.meta
meta-build.ant
meta-build.m4
meta-studio.jar
meta-studio.pc
meta-studio-uninstalled.pc

