*-*.pkg
*.tar.gz
.deps
Makefile
Makefile.in
aclocal.m4
autom4*
config.cache
config.h.in
config.log
config.status
configure
INSTALL
install-sh
missing
mkinstalldirs
depcomp
asc-support.pc
compile
config.guess
config.sub
ltmain.sh
asc-support-uninstalled.pc
Makefile.meta
Makefile.top.meta
Makefile.java.meta
doc-header.html
meta-build.m4
meta-build.ant
libtool
Doxyfile.meta
META-INF
.settings
.project

