Makefile
Makefile.in
aclocal.m4
sdf-library-*.pkg
sdf-library-*.tar.gz
autom4te.cache
config.cache
config.h.in
config.log
config.status
configure
META-INF
doc-header.html
Doxyfile.meta
INSTALL
install-sh
Makefile.java.meta
Makefile.meta
Makefile.top.meta
meta-build.ant
meta-build.m4
missing
sdf-library.pc
sdf-library-uninstalled.pc
.project
.settings
build.properties
Makefile.fragment.meta

