<%= error_messages_for 'si_profile' %>

<!--[form:si_profile]-->
<p><label for="si_profile_name">Name</label><br/>
<%= text_field 'si_profile', 'name'  %></p>

<p><label for="si_profile_version">Version</label><br/>
<%= text_field 'si_profile', 'version'  %></p>
<!--[eoform:si_profile]-->

