.project
.settings
config.log
autom4te.cache
META-INF
aclocal.m4
config.status
configure
doc-header.html
Doxyfile.meta
INSTALL
install-sh
Makefile
Makefile.in
Makefile.java.meta
Makefile.meta
Makefile.top.meta
meta-build.ant
meta-build.m4
missing
sdf.pc
sdf-uninstalled.pc

