.classpath
.project
Makefile
Makefile.in
aclocal.m4
autom*.cache
config.cache
config.h.in
config.log
config.status
configure
libtool
config-support-*.pkg
config-support-*.tar.gz
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
Doxyfile.meta
Makefile.java.meta
Makefile.meta
Makefile.top.meta
meta-build.ant
meta-build.m4
bin
config-support.pc
config-support-uninstalled.pc
compile
doc-header.html
META-INF
build.properties
.settings

