*-*.pkg
Makefile
configure
aclocal.m4
config.h.in
Makefile.in
config.log
config.cache
config.status
tide.tifs
tide.sh
doc
tide.jar
autom4te.cache
.classpath
.project
build
dist
config.guess
config.sub
libtool
ltmain.sh
Makefile.java.meta
Makefile.meta
Makefile.top.meta
meta-build.ant
meta-build.m4
tide.pc
Doxyfile.meta
tide-uninstalled.pc
doc-header.html

