configure
Makefile.in
.project
config.log
pt-support-java.jar
build.properties
.classpath
Makefile.meta
Makefile.top.meta
dist
INSTALL
pt-support-java.pc
Makefile
Makefile.java.meta
config.status
pt-support-java-uninstalled.pc
doc-header.html
build
META-INF
meta-build.m4
autom4te.cache
meta-build.ant
Doxyfile.meta
missing
aclocal.m4
install-sh
.settings
Makefile.fragment.meta

