*-*.pkg
Makefile
Makefile.in
aclocal.m4
autom4te-2.53.cache
autom4te.cache
config.cache
config.h.in
config.log
config.status
configure
diff.out
Makefile.meta
Makefile
Makefile.in
doc-header.html
pt-support.pc
*.m4
Doxyfile.meta
missing
install-sh
meta-build.ant
libtool
INSTALL
Makefile.java.meta
depcomp
compile
config.guess
ltmain.sh
config.sub
Makefile.top.meta
pt-support-uninstalled.pc
META-INF
.project
.settings
Makefile.fragment.meta


