*-*.pkg
*.tar.gz
Makefile
Makefile.in
aclocal.m4
autom4*
config.cache
config.h.in
config.log
config.status
configure
diff.out
META-INF
asf-support.pc
asf-support-uninstalled.pc
config.guess
config.sub
depcomp
doc-header.html
Doxyfile.meta
INSTALL
install-sh
libtool
ltmain.sh
Makefile.java.meta
Makefile.meta
Makefile.top.meta
meta-build.ant
meta-build.m4
missing
.project
.settings

