*-*.pkg
Makefile
Makefile.in
aclocal.m4
autom4te-2.53.cache
autom4te.cache
config.cache
config.h.in
config.log
config.status
configure
*-config
tide-support-*.tar.gz
config.guess
config.sub
depcomp
doc-header.html
Doxyfile.meta
INSTALL
install-sh
libtool
ltmain.sh
Makefile.java.meta
Makefile.meta
Makefile.top.meta
meta-build.ant
meta-build.m4
missing
tide-support-uninstalled.pc
tide-support.pc
META-INF
.project
.settings

