aclocal.m4
autom4*
c-library-config
config.cache
config.h.in
config.log
config.status
configure
.deps
libtool
Makefile
Makefile.in
*-*.pkg
*.tar.gz
META-INF
c-library.pc
c-library-uninstalled.pc
config.guess
config.sub
depcomp
doc-header.html
Doxyfile.meta
INSTALL
install-sh
ltmain.sh
Makefile.java.meta
Makefile.meta
Makefile.top.meta
meta-build.ant
meta-build.m4
missing
.project
.settings

