*-*.pkg
*.tar.gz
Makefile
Makefile.in
aclocal.m4
autom4*
config.cache
config.h.in
config.log
config.status
configure
configure.h.in
toolbuslib-config
config.sub
config.guess
compile
depcomp
doc-header.html
install-sh
ltmain.sh
meta-build.ant
meta-build.m4
missing
Doxyfile.meta
INSTALL
Makefile.java.meta
Makefile.meta
Makefile.top.meta
libtool
toolbuslib-uninstalled.pc
toolbuslib.pc
META-INF
.project
.settings
Makefile.fragment.meta

