
%typeterm CHARLIST {
  implement { CHARLIST }
  get_fun_sym(t) { null }
  cmp_fun_sym(s1,s2) { false }
  get_subterm(t,n) { null }
}

%op CHARLIST CHARLIST_String(str:String) {
  fsym { }
  is_fsym(t) { true }
  get_slot(str,t) { t.getString() }
}
