<%= error_messages_for 'si_item' %>

<!--[form:si_item]-->
<p><label for="si_item_success">Success</label><br/>
<select id="si_item_success" name="si_item[success]"><option value="false">False</option><option value="true">True</option></select></p>
<!--[eoform:si_item]-->

