aclocal.m4
config.guess
config.status
config.sub
configure
COPYING
depcomp
doc-header.html
Doxyfile.meta
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
Makefile.java.meta
Makefile.meta
Makefile.top.meta
meta-build.ant
meta-build.m4
rscript.pc
rscript-uninstalled.pc
autom4te.cache

