*.tar.gz
.classpath
.project
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te*
bin
build
config.*
configure
dist
editor-plugin.idef
editor-plugin-*.pkg
editor-plugin-config
install-sh
missing
mkinstalldirs
doc-header.html
Doxyfile.meta
editor-plugin.jar
editor-plugin.pc
Makefile.java.meta
Makefile.meta
Makefile.top.meta
meta-build.ant
meta-build.m4
editor-plugin-uninstalled.pc

