autom4te.cache
aclocal.m4
config.status
configure
doc-header.html
Doxyfile.meta
INSTALL
install-sh
Makefile
Makefile.in
Makefile.java.meta
Makefile.meta
Makefile.top.meta
meta-build.ant
meta-build.m4
missing
svg-support.pc
svg-support-uninstalled.pc

