*.tar.gz
.classpath
.project
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te*
bin
config.cache
config.guess
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
libltdl
ltmain.sh
config-manager-*.pkg
config-manager-config
missing
mkinstalldirs
META-INF
config-manager.pc
config-manager-uninstalled.pc
doc-header.html
Doxyfile.meta
Makefile.java.meta
Makefile.meta
Makefile.top.meta
meta-build.ant
meta-build.m4
.settings

