.project
.classpath
*-*.pkg
*.tar.gz
Makefile
Makefile.in
aclocal.m4
autom4*
config.cache
config.h.in
config.log
config.status
configure
config.guess
config.sub
depcomp
install-sh
libtool
ltmain.sh
missing
Doxyfile.meta
io-support.pc
io-support-uninstalled.pc
Makefile.java.meta
Makefile.meta
Makefile.top.meta
meta-build.ant
meta-build.m4
doc-header.html
compile
META-INF
.settings

