.*.swp
Makefile
Makefile.in
aclocal.m4
autom4te-2.53.cache
autom4te.cache
config.*
configure
pandora-*.pkg
META-INF
depcomp
doc-header.html
Doxyfile.meta
INSTALL
install-sh
libtool
ltmain.sh
Makefile.java.meta
Makefile.meta
Makefile.top.meta
meta-build.ant
meta-build.m4
missing
pandora.pc
pandora-uninstalled.pc
.project
.settings

