<%= error_messages_for 'si_revision' %>

<!--[form:si_revision]-->
<p><label for="si_revision_version">Version</label><br/>
<%= text_field 'si_revision', 'version'  %></p>
<!--[eoform:si_revision]-->

