<h1>Editing si_revision</h1>

<%= start_form_tag :action => 'update', :id => @si_revision %>
  <%= render_partial 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @si_revision %> |
<%= link_to 'Back', :action => 'list' %>
