<% for column in SiRevision.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @si_revision.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @si_revision %> |
<%= link_to 'Back', :action => 'list' %>
