autom4te.cache
build
dist
META-INF
aclocal.m4
build.properties
config.status
configure
doc-header.html
Doxyfile.meta
INSTALL
install-sh
io-support-java.jar
io-support-java.pc
io-support-java-uninstalled.pc
Makefile
Makefile.in
Makefile.java.meta
Makefile.meta
Makefile.top.meta
meta-build.ant
meta-build.m4
missing
.project
.classpath
.settings
bin
config.log
Makefile.fragment.meta

